.app {
  max-width: 800px;
  margin: auto;
  .searchContainer {
    text-align: center;
    .searchInput,
    .searchBtn {
      outline: none;
      border: none;
      border-radius: 4px;
    }
    .searchInput {
      display: inline-block;
      width: 75%;
      max-width: 18em;
      margin: 8px;
      padding: 4px 1em;
      background-color: #aaaaaa;
    }
    .searchBtn {
      display: inline-block;
      margin: 0 8x;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      height: 28px;
      line-height: 28px;
      flex-grow: 1;
      max-width: 50px;
      background-color: white;
      border: 1px solid #aaaaaa;
      outline: none;
    }
  }
}
